@use '../../styles/variables' as vars;

.color-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: vars.$spacing-sm;
  cursor: pointer;
  outline: none;
  position: relative;
  margin: 0;

  &__swatch {
    display: block;
    width: 20px;
    height: 20px;
    border: vars.$border-width-regular solid vars.$color-gray-300;
    margin-bottom: vars.$spacing-xs;
  }

  &--selected {
    .color-button__swatch {
      box-shadow: 0 0 0 vars.$spacing-xxs vars.$color-primary;
    }
  }

  &:focus-visible {
    .color-button__swatch {
      box-shadow: 0 0 0 vars.$spacing-xxs vars.$color-focus;
    }
  }
}
