@use '../../styles/variables' as vars;

.button {
  display: inline-block;
  padding-left: vars.$spacing-xl;
  padding-right: vars.$spacing-xl;
  font-size: vars.$font-size-sm;
  font-weight: vars.$font-weight-light;
  border: none;
  background: vars.$color-gray-700;
  color: vars.$color-white;
  cursor: pointer;
}

.button--small {
  padding-top: 12px;
  padding-bottom: 12px;
}

.button--medium {
  padding-top: 16px;
  padding-bottom: 16px;
}

.button--large {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button--outlined {
  background: transparent;
  color: vars.$color-black;
  border: vars.$border-width-thin solid vars.$color-border;
}

.button--fullwidth {
  display: block;
  width: 100%;
}

.button--disabled,
.button:disabled {
  background: #f3f2f2;
  color: #c2bfbc;
  cursor: not-allowed;
}

.button:hover:not(.button--disabled),
.button:focus-visible:not(.button--disabled) {
  background: #282624;
}

.button:active:not(.button--disabled) {
  background: #363331;
}
