.button {
  display: inline-block;
  padding: 20px 32px;
  font-size: 12px;
  font-weight: 300;
  border: none;
  background: #1b1a18;
  color: #fff;
  cursor: pointer;
}

.button--outlined {
  background: transparent;
  color: #000;
  border: 0.5px solid #000;
}

.button--fullwidth {
  display: block;
  width: 100%;
}

.button--disabled,
.button:disabled {
  background: #f3f2f2;
  color: #c2bfbc;
  cursor: not-allowed;
}

.button:hover:not(.button--disabled),
.button:focus-visible:not(.button--disabled) {
  background: #282624;
}

.button:active:not(.button--disabled) {
  background: #363331;
}
