@use '../../styles/variables' as vars;

.scroll-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: vars.$spacing-sm + vars.$spacing-xxs 0;
}

.scroll-track {
  position: relative;
  width: 100px;
  height: vars.$border-width-regular;
  background-color: vars.$color-gray-200;
}

.scroll-thumb {
  position: absolute;
  left: 0;
  top: -1px;
  width: 30px;
  height: vars.$border-width-thick;
  background-color: vars.$color-primary;
  transition: transform 0.1s ease-out;
}
