@use '../../../styles/variables' as vars;

.phone-detail-page {
  padding: 0 260px;
  margin: 0 auto;

  @media (width <= 1024px) {
    padding: 0;
  }
}

// TODO: refactor styles
.specifications {
  font-size: vars.$font-size-sm;
  font-weight: vars.$font-weight-light;
  margin-top: vars.$spacing-xxxl;
  padding: 0 vars.$spacing-xs + vars.$spacing-md;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    font-size: vars.$font-size-lg;
    font-weight: vars.$font-weight-light;
    margin-bottom: vars.$spacing-xxl;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    tr {
      border-bottom: vars.$border-width-thin solid vars.$color-border;

      &:last-child {
        border-bottom: none;
      }
    }

    th,
    td {
      padding: vars.$spacing-md 0;
      text-align: left;
    }

    th {
      width: 348px;
      font-weight: vars.$font-weight-light;
      color: vars.$color-text;
      font-size: vars.$font-size-sm;
    }

    td {
      font-weight: vars.$font-weight-light;
      color: vars.$color-text;
      font-size: vars.$font-size-sm;
    }
  }
}
