@use '../../styles/variables' as vars;

.color-button-group {
  display: flex;
  flex-direction: column;

  &__label {
    display: block;
    font-size: 14px;
    font-weight: vars.$font-weight-regular;
    margin-bottom: vars.$spacing-lg;
  }

  &__list {
    display: flex;
    gap: vars.$spacing-sm;
  }

  &__name {
    font-size: vars.$font-size-sm;
    font-weight: vars.$font-weight-light;
    min-height: 14px;
    color: vars.$color-text;
  }
}
