@use '../../styles/variables' as vars;

.cart-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // TODO: Review this height to make it dinamic
  height: calc(100vh - 136px);

  &__items-container {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-xxl + vars.$spacing-sm;
  }

  &__items-list {
    overflow-y: scroll;
  }

  &__items-count {
    font-weight: vars.$font-weight-light;
    font-size: vars.$font-size-xl;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: vars.$spacing-xxl;
    width: 548px;
    height: 324px;
  }

  &__right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: vars.$spacing-xxl 0;
    height: 100%;
    box-sizing: border-box;
    align-items: flex-start;
  }

  &__item-info-container {
    display: flex;
    font-size: vars.$font-size-sm;
    font-weight: vars.$font-weight-light;
    flex-direction: column;
    justify-content: space-between;
    gap: vars.$spacing-xs + vars.$spacing-md;
  }

  &__details-container {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-xs;
  }

  &__image-container {
    position: relative;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
  }

  &__remove-button {
    color: #df0000;
    background-color: transparent;
    border: none;
    font-weight: vars.$font-weight-light;
    font-size: vars.$font-size-sm;
    cursor: pointer;

    &:hover {
      color: rgba(#df0000, 0.6);
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__total {
    display: flex;
    flex-direction: row;
    gap: vars.$spacing-xxl * 2;
    align-items: center;
  }
}
