@use '../../styles/variables' as vars;

.shopping-cart {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: vars.$spacing-xs + vars.$spacing-xxs;
  text-decoration: none;

  &__count {
    color: vars.$color-text;
    font-size: vars.$font-size-md;
    font-weight: vars.$font-weight-light;
    line-height: vars.$font-size-md;
  }
}
