@use '../../styles/variables' as vars;

.storage-button {
  border: vars.$border-width-regular solid vars.$color-gray-300;
  background-color: transparent;
  color: vars.$color-text;
  font-weight: vars.$font-weight-light;
  padding: vars.$spacing-lg;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  position: relative;
  margin: 0;

  &--selected {
    border-color: vars.$color-primary;
    z-index: 1;
  }
}
