.storage-button {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #000;
  font-weight: 300;
  padding: 24px;
  font-size: 1rem;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  position: relative;
  margin: 0;

  &--selected {
    border-color: #000;
    z-index: 1;
  }
}
