@use '../../styles/variables' as vars;

.similar-items {
  margin-top: vars.$spacing-xxxl;
  padding: 0 vars.$spacing-lg;
  margin-left: auto;
  margin-right: auto;
  font-size: vars.$font-size-sm;
  font-weight: vars.$font-weight-light;

  &__title {
    font-size: vars.$font-size-lg;
    font-weight: vars.$font-weight-light;
    margin-bottom: vars.$spacing-xxl;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-lg;
  }

  &__scroll-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: vars.$spacing-sm + vars.$spacing-xxs;
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:focus-visible {
      outline: vars.$border-width-thick solid vars.$color-focus;
      outline-offset: vars.$spacing-xxs;
      box-shadow: #e5e5e5;
    }
  }

  &__card {
    flex: 0 0 auto;
    width: 312px;
    list-style-type: none;
    border: vars.$border-width-regular solid vars.$color-border;
    border-left: none;

    &:first-child {
      border-left: vars.$border-width-regular solid vars.$color-border;
    }
  }

  &__scroll-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: vars.$spacing-sm + vars.$spacing-xxs 0;
  }

  &__scroll-track {
    position: relative;
    width: 100%;
    height: vars.$border-width-regular;
    background-color: vars.$color-gray-200;
  }

  &__scroll-thumb {
    position: absolute;
    left: 0;
    top: -1px;
    width: 30px;
    height: vars.$border-width-thick;
    background-color: vars.$color-gray-700;
    outline: vars.$spacing-xxs solid vars.$color-white;
    outline-offset: -#{vars.$spacing-xxs};
  }
}
