@use '../../styles/variables' as vars;

.phone-detail {
  &__product-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // TODO: Review this gap
    gap: vars.$spacing-xxs;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-md - vars.$spacing-xs;
  }

  &__name {
    font-weight: vars.$font-weight-light;
    font-size: vars.$font-size-xl;
    margin: 0;
  }

  &__price {
    font-weight: vars.$font-weight-light;
    font-size: vars.$font-size-lg;
  }

  &__image-container {
    @media (width <= #{vars.$breakpoint-tablet}) {
      width: 337px;
    }

    position: relative;
    width: auto;
    aspect-ratio: 1/1;
    height: 630px;
  }

  &__form {
    width: 380px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
