.phone-detail {
  &__product-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // TODO: Review this gap
    gap: 2px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__name {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }

  &__price {
    font-weight: 300;
    font-size: 20px;
  }

  &__image-container {

    @media (width <= 834px) {
      width: 337px;
    }

    position: relative;
    width: auto;
    aspect-ratio: 1/1;
    height: 630px;
  }

  &__form {
    width: 380px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
