.phone-detail {
  width: 1200px;
  margin: 0 auto;

  &__product-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__name {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }

  &__price {
    font-weight: 300;
    font-size: 20px;
  }

  &__image-container {
    position: relative;
    width: auto;
    aspect-ratio: 1/1;
    height: 630px;
  }

  &__form {
    width: 380px;
    height: 459px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
