@use '../../styles/variables' as vars;

.phone-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-xxl + vars.$spacing-sm;

  &__search-container {
    position: relative;
    background-color: vars.$color-gray-100;
    padding: vars.$spacing-sm vars.$spacing-md;
    display: flex;
    align-items: center;
  }

  &__search-input {
    width: 100%;
    font-size: 18px;
    font-weight: vars.$font-weight-regular;
    padding: vars.$spacing-sm 0;
    border: none;
    border-bottom: vars.$border-width-regular solid vars.$color-primary;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: vars.$color-gray-400;
      opacity: 0.8;
    }

    &:focus {
      border-bottom: vars.$spacing-xxs solid vars.$color-primary;
    }
  }

  &__clear-button {
    position: absolute;
    right: vars.$spacing-md;
    background: none;
    border: none;
    font-size: vars.$font-size-xl;
    cursor: pointer;
    color: vars.$color-gray-400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 24px;
    width: 24px;

    &:hover {
      color: vars.$color-primary;
    }
  }

  &__results-info {
    font-size: vars.$font-size-sm;
    font-weight: vars.$font-weight-light;
    text-transform: uppercase;
    color: vars.$color-text;
    margin-bottom: vars.$spacing-xxl + vars.$spacing-sm;
  }
}
