@use '../../styles/variables' as vars;

.storage-button-group {
  display: flex;
  flex-direction: column;

  &__label {
    display: block;
    font-size: 14px;
    font-weight: vars.$font-weight-regular;
    margin-bottom: vars.$spacing-xl - vars.$spacing-sm;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
  }
}

.storage-button-grouped {
  margin-left: -#{vars.$border-width-regular};
}
