.storage-button-group {
  display: flex;
  flex-direction: column;

  &__label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
  }
}

.storage-button-grouped {
  margin-left: -1px;
}
